:root {
  /*========== Colors ==========*/
  --body-color: #ffffff;
  --background-color: #ffdf8c;
  --accent-color: #fe5f1e;
  --hover-accent-color: #de4101;
  --text-color: #111321;
  --text-color-light: #f6f6f6;
  --white-color: #fff;
  --black-color: #111321;
  --light-grey-color: #f3f3f3;
  --notFound-text-color: #777777;
  --categoties-background: #f9f9f9;
  --hover-categories-background: #ececec;

  /*========== Variables Dark theme ==========*/
  //   body.darkMode {
  //     --body-color: #222222;
  //     --text-color: #f4f4f4;
  //     --light-grey-color: #3e3e3e;
  //   }
}
