@import "../../style/base/mixins.scss";

.header__form {
}
.header__form-input-label {
  position: relative;
}
.header__form-input-icon {
  position: absolute;
  top: -0.1rem;
  left: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.3;
}
.header__form-input {
  width: 100%;
  border: 1px solid var(--notFound-text-color);
  opacity: 0.4;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem 0.75rem 3rem;
  @include onLaptop {
    width: 400px;
  }
}
